* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body  {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

h1 {
	font-size: 22px;
	text-align: center;
	padding: 15px 25px;
	border-radius: 4px;
}

.ques-box {
	width: 100%;
	max-width: 800px;
	padding: 15px 25px;
	margin: 50px auto 0 auto;
	border-radius: 4px;
}

.option {
    display: flex;
    flex-direction: column;
}
.option p {
	margin-left: 5px;
	position: relative;
	margin-top: 0px;
}

.option-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
	padding-right: 4px;
}

.title {
	font-size: 18px;
	font-weight: 500;
	color: #a5b8cc;
}



footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
	padding: 10px, 0;
}
