<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-En">
<head>
    <meta charset="UTF-8">
    <title>snippets</title>
    <link rel="stylesheet" href="../static/themes/prism.css"/>
</head>
<body>

<script type="text/javascript" src="../static/script/prism.js"></script>
<pre>
<code class="language-css line-numbers">
html {
  --brandColor: red;
  background: var(--brandColor);
}
body {
  text-rendering: optimizeSpeed;
  height: 100vh;
  margin: 0;
  font-family: "Georgia", serif;
}
</code>
</pre>


<pre>
    <code class="language-html">
&lt;div class="card">
  &lt;h2>Cool.&lt;/h2>
&lt;/div>
    </code>
</pre>



<pre>
    <code class="language-java">
const name = "Chris Coyier";
console.log(name);
        </code>
</pre>

</body>
</html>